#glass {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
body {
  height: 2000px;
  scroll-behavior: smooth;
}
#happy {
  margin-top: 200px;
  justify-content: center;
  align-items: center;
}
#apple-headset {
  display: block;
}
#gold {
  background-color: rgba(235, 218, 123, 0.74);
}
#blue {
  background-color: rgb(60, 187, 209);
}
#pink {
  background-color: rgb(231, 63, 91);
}
#mac:hover {
  transform: rotateY("360deg");
  transition: all 2 linear;
}
